body{
    margin: 0;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding-top: 10px;
}
.container{
    background-color:white;
    min-height: 100vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 1em;
}
.task-area{
    border: 1px solid lightgray;
}
.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.task-tabs div{
    padding: 1em;
    cursor: pointer;
}
#under-line{
    height: 4px;
    background-color: seagreen;
    position: absolute;
    width: 80px;
    left: 0px;
    top:52px;
    padding: 0px;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.task-done{
    text-decoration: line-through;
}
#all, #ongoing, #done{
    width: 10em;
    text-align: center;
}
#all:hover, #ongoing:hover, #done:hover{
    background-color: seagreen;
}